.card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 1rem;
}
.card-grid > * {
    border: black solid 1px;
    padding: 0.5rem;
    background-color: orangered;
}